<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>${payload.title}</title>
<meta name="description" content="${payload.desc}">
<meta name="author" content="Johann Barbie">
<meta property="og:site_name" content="37coins"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="${payload.resPath}/styles/main.css">

<!-- Fav and touch icons -->
<link rel="image_src" sizes="144x144" href="${payload.resPath}/images/faveicon32.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="${payload.resPath}/images/faveicon32.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="${payload.resPath}/images/faveicon32.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="${payload.resPath}/images/favicon16.gif">
<link rel="apple-touch-icon-precomposed" href="${payload.resPath}/images/favicon16.gif">
<link rel="icon" type="image/png" href="${payload.resPath}/images/faveicon32.png">
<link rel="shortcut icon" href="${payload.resPath}/images/favicon16.gif">

<script src="${payload.resPath}/scripts/vendor/modernizr.js"></script>
<script type="text/javascript">
window.activeLocales = {
	root: true,<#list payload.activeLocales as locale>
	<#if (locale_index &gt; 0)>${locale}: true<#if locale_has_next>,</#if></#if>  
	</#list>
};
window.opt = {
	resPath: '${payload.resPath}',
	lng: '${payload.lng}',
	<#if payload.gaTrackingId??>gaTrackingId: '${payload.gaTrackingId}',</#if>
	<#if payload.country??>country: '${payload.country}',</#if>
	<#if payload.delivery??>delivery: '${payload.delivery}',</#if>
	<#if payload.deliveryParam??>deliveryParam: '${payload.deliveryParam}',</#if>
	<#if payload.srvcPath??> srvcPath: '${payload.srvcPath}',</#if>
	<#if payload.captchaPubKey??> captchaPubKey: '${payload.captchaPubKey}',</#if>
	<#if payload.unitName??>unitName: '${payload.unitName}',</#if>
	<#if payload.unitFactor??>unitFactor: '${payload.unitFactor}',</#if>
	<#if payload.unitFormat??>unitFormat: '${payload.unitFormat}',</#if>
	basePath: '${payload.basePath}'
};
</script>