/***Reference***
http://www.1stwebdesigner.com/tutorials/css-best-practices/
http://jigsaw.w3.org/css-validator/
http://www.colorpicker.com/
http://stackoverflow.com/questions/492809/when-to-use-img-vs-css-background-image
****************/

$icon-font-path: "../images/" !default;
$baseFontFamily: 'Helvetica';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@font-face {
    font-family: 'sofia_pro_ultralightregular';
    src: url('../fonts/SofiaProUltraLight-webfont.eot');
    src: url('../fonts/SofiaProUltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SofiaProUltraLight-webfont.woff') format('woff'),
         url('../fonts/SofiaProUltraLight-webfont.ttf') format('truetype'),
         url('../fonts/SofiaProUltraLight-webfont.svg#sofia_pro_ultralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_pro_regular';
    src: url('../fonts/SofiaProRegular-webfont.eot');
    src: url('../fonts/SofiaProRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SofiaProRegular-webfont.woff') format('woff'),
         url('../fonts/SofiaProRegular-webfont.ttf') format('truetype'),
         url('../fonts/SofiaProRegular-webfont.svg#sofia_pro_ultralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.intl-tel-input .flag{width:16px;height:11px;background:url("../images/flags.png")}.intl-tel-input .zw{background-position:0px 0px}.intl-tel-input .zm{background-position:-16px 0px}.intl-tel-input .za{background-position:0px -11px}.intl-tel-input .yt{background-position:-16px -11px}.intl-tel-input .ye{background-position:-32px 0px}.intl-tel-input .ws{background-position:-32px -11px}.intl-tel-input .wf{background-position:0px -22px}.intl-tel-input .vu{background-position:-32px -22px}.intl-tel-input .vn{background-position:0px -33px}.intl-tel-input .vi{background-position:-16px -33px}.intl-tel-input .vg{background-position:-32px -33px}.intl-tel-input .ve{background-position:-48px 0px}.intl-tel-input .vc{background-position:-48px -11px}.intl-tel-input .va{background-position:-48px -22px}.intl-tel-input .uz{background-position:-48px -33px}.intl-tel-input .uy{background-position:0px -44px}.intl-tel-input .us{background-position:-16px -44px}.intl-tel-input .um{background-position:-16px -44px}.intl-tel-input .ug{background-position:-32px -44px}.intl-tel-input .ua{background-position:-48px -44px}.intl-tel-input .tz{background-position:-64px 0px}.intl-tel-input .tw{background-position:-64px -11px}.intl-tel-input .tv{background-position:-64px -22px}.intl-tel-input .tt{background-position:-64px -33px}.intl-tel-input .tr{background-position:-64px -44px}.intl-tel-input .to{background-position:0px -55px}.intl-tel-input .tn{background-position:-16px -55px}.intl-tel-input .tm{background-position:-32px -55px}.intl-tel-input .tl{background-position:-48px -55px}.intl-tel-input .tk{background-position:-64px -55px}.intl-tel-input .tj{background-position:0px -66px}.intl-tel-input .th{background-position:-16px -66px}.intl-tel-input .tg{background-position:-32px -66px}.intl-tel-input .tf{background-position:-48px -66px}.intl-tel-input .td{background-position:-64px -66px}.intl-tel-input .tc{background-position:-80px 0px}.intl-tel-input .sz{background-position:-80px -11px}.intl-tel-input .sy{background-position:-80px -22px}.intl-tel-input .sx{background-position:-80px -33px}.intl-tel-input .sv{background-position:-80px -44px}.intl-tel-input .st{background-position:-80px -55px}.intl-tel-input .ss{background-position:-80px -66px}.intl-tel-input .sr{background-position:0px -77px}.intl-tel-input .so{background-position:-16px -77px}.intl-tel-input .sn{background-position:-32px -77px}.intl-tel-input .sm{background-position:-48px -77px}.intl-tel-input .sl{background-position:-64px -77px}.intl-tel-input .sk{background-position:-80px -77px}.intl-tel-input .si{background-position:-96px 0px}.intl-tel-input .sh{background-position:-96px -11px}.intl-tel-input .sg{background-position:-96px -22px}.intl-tel-input .se{background-position:-96px -33px}.intl-tel-input .sd{background-position:-96px -44px}.intl-tel-input .sc{background-position:-96px -66px}.intl-tel-input .sb{background-position:-96px -77px}.intl-tel-input .sa{background-position:0px -88px}.intl-tel-input .rw{background-position:-16px -88px}.intl-tel-input .ru{background-position:-32px -88px}.intl-tel-input .rs{background-position:-48px -88px}.intl-tel-input .ro{background-position:-64px -88px}.intl-tel-input .qa{background-position:-80px -88px}.intl-tel-input .py{background-position:-96px -88px}.intl-tel-input .pw{background-position:0px -99px}.intl-tel-input .pt{background-position:-16px -99px}.intl-tel-input .ps{background-position:-32px -99px}.intl-tel-input .pr{background-position:-48px -99px}.intl-tel-input .pn{background-position:-64px -99px}.intl-tel-input .pm{background-position:-80px -99px}.intl-tel-input .pl{background-position:-96px -99px}.intl-tel-input .pk{background-position:-112px 0px}.intl-tel-input .ph{background-position:-112px -11px}.intl-tel-input .pg{background-position:-112px -22px}.intl-tel-input .pf{background-position:-112px -33px}.intl-tel-input .pe{background-position:-112px -44px}.intl-tel-input .pa{background-position:-112px -55px}.intl-tel-input .om{background-position:-112px -66px}.intl-tel-input .nz{background-position:-112px -77px}.intl-tel-input .nu{background-position:-112px -88px}.intl-tel-input .nr{background-position:-112px -99px}.intl-tel-input .no{background-position:0px -110px}.intl-tel-input .bv{background-position:0px -110px}.intl-tel-input .sj{background-position:0px -110px}.intl-tel-input .nl{background-position:-16px -110px}.intl-tel-input .ni{background-position:-32px -110px}.intl-tel-input .ng{background-position:-48px -110px}.intl-tel-input .nf{background-position:-64px -110px}.intl-tel-input .ne{background-position:-80px -110px}.intl-tel-input .nc{background-position:-96px -110px}.intl-tel-input .na{background-position:-112px -110px}.intl-tel-input .mz{background-position:-128px 0px}.intl-tel-input .my{background-position:-128px -11px}.intl-tel-input .mx{background-position:-128px -22px}.intl-tel-input .mw{background-position:-128px -33px}.intl-tel-input .mv{background-position:-128px -44px}.intl-tel-input .mu{background-position:-128px -55px}.intl-tel-input .mt{background-position:-128px -66px}.intl-tel-input .ms{background-position:-128px -77px}.intl-tel-input .mr{background-position:-128px -88px}.intl-tel-input .mq{background-position:-128px -99px}.intl-tel-input .mp{background-position:-128px -110px}.intl-tel-input .mo{background-position:0px -121px}.intl-tel-input .mn{background-position:-16px -121px}.intl-tel-input .mm{background-position:-32px -121px}.intl-tel-input .ml{background-position:-48px -121px}.intl-tel-input .mk{background-position:-64px -121px}.intl-tel-input .mh{background-position:-80px -121px}.intl-tel-input .mg{background-position:-96px -121px}.intl-tel-input .me{background-position:0px -132px;height:12px}.intl-tel-input .md{background-position:-112px -121px}.intl-tel-input .mc{background-position:-128px -121px}.intl-tel-input .ma{background-position:-16px -132px}.intl-tel-input .ly{background-position:-32px -132px}.intl-tel-input .lv{background-position:-48px -132px}.intl-tel-input .lu{background-position:-64px -132px}.intl-tel-input .lt{background-position:-80px -132px}.intl-tel-input .ls{background-position:-96px -132px}.intl-tel-input .lr{background-position:-112px -132px}.intl-tel-input .lk{background-position:-128px -132px}.intl-tel-input .li{background-position:-144px 0px}.intl-tel-input .lc{background-position:-144px -11px}.intl-tel-input .lb{background-position:-144px -22px}.intl-tel-input .la{background-position:-144px -33px}.intl-tel-input .kz{background-position:-144px -44px}.intl-tel-input .ky{background-position:-144px -55px}.intl-tel-input .kw{background-position:-144px -66px}.intl-tel-input .kr{background-position:-144px -77px}.intl-tel-input .kp{background-position:-144px -88px}.intl-tel-input .kn{background-position:-144px -99px}.intl-tel-input .km{background-position:-144px -110px}.intl-tel-input .ki{background-position:-144px -121px}.intl-tel-input .kh{background-position:-144px -132px}.intl-tel-input .kg{background-position:0px -144px}.intl-tel-input .ke{background-position:-16px -144px}.intl-tel-input .jp{background-position:-32px -144px}.intl-tel-input .jo{background-position:-48px -144px}.intl-tel-input .jm{background-position:-64px -144px}.intl-tel-input .je{background-position:-80px -144px}.intl-tel-input .it{background-position:-96px -144px}.intl-tel-input .is{background-position:-112px -144px}.intl-tel-input .ir{background-position:-128px -144px}.intl-tel-input .iq{background-position:-144px -144px}.intl-tel-input .io{background-position:-160px 0px}.intl-tel-input .in{background-position:-160px -11px}.intl-tel-input .im{background-position:-160px -22px;height:9px}.intl-tel-input .il{background-position:-160px -31px}.intl-tel-input .ie{background-position:-160px -42px}.intl-tel-input .id{background-position:-160px -53px}.intl-tel-input .hu{background-position:-160px -64px}.intl-tel-input .ht{background-position:-160px -75px}.intl-tel-input .hr{background-position:-160px -86px}.intl-tel-input .hn{background-position:-160px -97px}.intl-tel-input .hk{background-position:-160px -108px}.intl-tel-input .gy{background-position:-160px -119px}.intl-tel-input .gw{background-position:-160px -130px}.intl-tel-input .gu{background-position:-160px -141px}.intl-tel-input .gt{background-position:0px -155px}.intl-tel-input .gs{background-position:-16px -155px}.intl-tel-input .gr{background-position:-32px -155px}.intl-tel-input .gq{background-position:-48px -155px}.intl-tel-input .gp{background-position:-64px -155px}.intl-tel-input .gn{background-position:-80px -155px}.intl-tel-input .gm{background-position:-96px -155px}.intl-tel-input .gl{background-position:-112px -155px}.intl-tel-input .gi{background-position:-128px -155px}.intl-tel-input .gh{background-position:-144px -155px}.intl-tel-input .gg{background-position:-160px -155px}.intl-tel-input .ge{background-position:-176px 0px}.intl-tel-input .gd{background-position:-176px -11px}.intl-tel-input .gb{background-position:-176px -22px}.intl-tel-input .ga{background-position:-176px -33px}.intl-tel-input .fr{background-position:-176px -44px}.intl-tel-input .gf{background-position:-176px -44px}.intl-tel-input .re{background-position:-176px -44px}.intl-tel-input .mf{background-position:-176px -44px}.intl-tel-input .bl{background-position:-176px -44px}.intl-tel-input .fo{background-position:-176px -55px}.intl-tel-input .fm{background-position:-176px -66px}.intl-tel-input .fk{background-position:-176px -77px}.intl-tel-input .fj{background-position:-176px -88px}.intl-tel-input .fi{background-position:-176px -99px}.intl-tel-input .eu{background-position:-176px -121px}.intl-tel-input .et{background-position:-176px -132px}.intl-tel-input .es{background-position:-176px -143px}.intl-tel-input .er{background-position:-176px -154px}.intl-tel-input .eh{background-position:-16px -166px}.intl-tel-input .eg{background-position:-32px -166px}.intl-tel-input .ee{background-position:-48px -166px}.intl-tel-input .ec{background-position:-64px -166px}.intl-tel-input .dz{background-position:-80px -166px}.intl-tel-input .do{background-position:-96px -166px}.intl-tel-input .dm{background-position:-112px -166px}.intl-tel-input .dk{background-position:-128px -166px}.intl-tel-input .dj{background-position:-144px -166px}.intl-tel-input .de{background-position:-160px -166px}.intl-tel-input .cz{background-position:-176px -166px}.intl-tel-input .cy{background-position:0px -177px}.intl-tel-input .cx{background-position:-16px -177px}.intl-tel-input .cw{background-position:-32px -177px}.intl-tel-input .cv{background-position:-48px -177px}.intl-tel-input .cu{background-position:-64px -177px}.intl-tel-input .cs{background-position:-80px -177px}.intl-tel-input .cr{background-position:-96px -177px}.intl-tel-input .co{background-position:-112px -177px}.intl-tel-input .cn{background-position:-128px -177px}.intl-tel-input .cm{background-position:-144px -177px}.intl-tel-input .cl{background-position:-160px -177px}.intl-tel-input .ck{background-position:-176px -177px}.intl-tel-input .ci{background-position:-192px 0px}.intl-tel-input .cg{background-position:-192px -11px}.intl-tel-input .cf{background-position:-192px -22px}.intl-tel-input .cd{background-position:-192px -33px}.intl-tel-input .cc{background-position:-192px -44px}.intl-tel-input .ca{background-position:-192px -66px}.intl-tel-input .bz{background-position:-192px -77px}.intl-tel-input .by{background-position:-192px -88px}.intl-tel-input .bw{background-position:-192px -99px}.intl-tel-input .bt{background-position:-192px -110px}.intl-tel-input .bs{background-position:-192px -121px}.intl-tel-input .br{background-position:-192px -132px}.intl-tel-input .bq{background-position:-192px -143px}.intl-tel-input .bo{background-position:-192px -154px}.intl-tel-input .bn{background-position:-192px -165px}.intl-tel-input .bm{background-position:-192px -176px}.intl-tel-input .bj{background-position:0px -188px}.intl-tel-input .bi{background-position:-16px -188px}.intl-tel-input .bh{background-position:-32px -188px}.intl-tel-input .bg{background-position:-48px -188px}.intl-tel-input .bf{background-position:-64px -188px}.intl-tel-input .be{background-position:-80px -188px}.intl-tel-input .bd{background-position:-96px -188px}.intl-tel-input .bb{background-position:-112px -188px}.intl-tel-input .ba{background-position:-128px -188px}.intl-tel-input .az{background-position:-144px -188px}.intl-tel-input .ax{background-position:-160px -188px}.intl-tel-input .aw{background-position:-176px -188px}.intl-tel-input .au{background-position:-192px -188px}.intl-tel-input .hm{background-position:-192px -188px}.intl-tel-input .at{background-position:-208px 0px}.intl-tel-input .as{background-position:-208px -11px}.intl-tel-input .ar{background-position:-208px -22px}.intl-tel-input .ao{background-position:-208px -33px}.intl-tel-input .an{background-position:-208px -44px}.intl-tel-input .am{background-position:-208px -55px}.intl-tel-input .al{background-position:-208px -66px}.intl-tel-input .ai{background-position:-208px -77px}.intl-tel-input .ag{background-position:-208px -88px}.intl-tel-input .af{background-position:-208px -99px}.intl-tel-input .ae{background-position:-208px -110px}.intl-tel-input .ad{background-position:-208px -121px}.intl-tel-input .np{background-position:-208px -132px}.intl-tel-input .ch{background-position:-208px -143px}.intl-tel-input{position:relative;display:inline-block}.intl-tel-input *{box-sizing:border-box;-moz-box-sizing:border-box}.intl-tel-input .hide{display:none}.intl-tel-input .v-hide{visibility:hidden}.intl-tel-input input{position:relative;z-index:0;margin-top:0 !important;margin-bottom:0 !important}.intl-tel-input .flag-dropdown{position:absolute;top:0;bottom:0}.intl-tel-input .flag-dropdown:hover{cursor:pointer}.intl-tel-input .flag-dropdown:hover .selected-flag{background-color:rgba(0,0,0,0.05)}.intl-tel-input input[disabled]+.flag-dropdown:hover{cursor:default}.intl-tel-input input[disabled]+.flag-dropdown:hover .selected-flag{background-color:transparent}.intl-tel-input .selected-flag{z-index:1;position:relative;width:38px;height:100%;padding:0 0 0 8px}.intl-tel-input .selected-flag .flag{position:absolute;top:50%;margin-top:-5px}.intl-tel-input .selected-flag .arrow{position:relative;top:50%;margin-top:-2px;left:20px;width:0;height:0;border-left:3px solid transparent;border-right:3px solid transparent;border-top:4px solid #555}.intl-tel-input .selected-flag .arrow.up{border-top:none;border-bottom:4px solid #555}.intl-tel-input .country-list{list-style:none;position:absolute;z-index:2;padding:0;margin:0 0 0 -1px;box-shadow:1px 1px 4px rgba(0,0,0,0.2);background-color:#fff;border:1px solid #ccc;width:430px;max-height:200px;overflow-y:scroll}.intl-tel-input .country-list .flag{display:inline-block}.intl-tel-input .country-list .divider{padding-bottom:5px;margin-bottom:5px;border-bottom:1px solid #ccc}.intl-tel-input .country-list .country{line-height:11px;padding:7px 10px}.intl-tel-input .country-list .country .dial-code{color:#999}.intl-tel-input .country-list .country.highlight{background-color:rgba(0,0,0,0.05)}.intl-tel-input .country-list .flag,.intl-tel-input .country-list .country-name{margin-right:6px}.intl-tel-input.inside .flag-dropdown{padding:1px}.intl-tel-input.inside input[type="text"],.intl-tel-input.inside input[type="tel"]{padding-left:44px;margin-left:0}.intl-tel-input.outside input[type="text"],.intl-tel-input.outside input[type="tel"]{border:none;margin-left:38px}

/*********************
*    Variables       *
**********************/

//COLORS
$pantone-blue-300:                     #0070C3 !default;
$pantone-black-m:                      #403935 !default;
$stage-darkgrey:                       #656565 !default;

// Inverted navbar
// Reset inverted navbar basics
$navbar-37-color:                      $gray-light !default;
$navbar-37-bg:                         #222 !default;
$navbar-37-border:                     #fff; //white

// Inverted navbar links
$navbar-37-link-color:                 #fff !default;
$navbar-37-link-hover-color:           $gray-light !default;
$navbar-37-link-hover-bg:              transparent !default;
$navbar-37-link-active-color:          #fff;
$navbar-37-link-active-bg:             darken($navbar-37-bg, 10%) !default;
$navbar-37-link-disabled-color:        #444 !default;
$navbar-37-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-37-brand-color:                $navbar-37-link-color !default;
$navbar-37-brand-hover-color:          $gray-light !default;
$navbar-37-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-37-toggle-hover-bg:            #0070C3 !default;
$navbar-37-toggle-icon-bar-bg:         #fff !default;
$navbar-37-toggle-border-color:        #fff;

/*************************
*      General Styles    *
**************************/
body {
    background-color:$stage-darkgrey;
}
h1, h2 {
  font-family: 'sofia_pro_ultralightregular';
  text-align: center;
}

/*************************
*     Media Changes      *
/* Default, extra small devices (phones, <768px) 
**************************/

/***  37coins navbar  ***/
.navbar37-blue{
    background-color: $pantone-blue-300;
}

.navbar-37 {
  background:rgba(255,255,255,0.2);
  border: 0px;
  min-height: 46px;
  border-radius: 0;
  margin-bottom: 0px;
  .navbar-brand {
    color: $navbar-37-brand-color;
    font-family: 'sofia_pro_ultralightregular';
    font-size: 24px; 
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 0px;
    &:hover,
    &:focus {
      color: $navbar-37-brand-hover-color;
      background-color: $navbar-37-brand-hover-bg;
    }
  }

  .nav {
    li {
      margin-right: 25px;
      a {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
    li.hidden-xs{
      margin-right: 0px;
      img {
        margin-top: 10px;
        } 
    }
}

.navbar-text {
    color: $navbar-37-color;
}

.navbar-nav {
    > ul {
    }
    > li {
      > .dropdown-menu {
        margin-top: 6px;
      }
      > a {
        color: $navbar-37-link-color;
        margin-top: 6px;
        padding-top: 7px;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent; 
        margin-bottom: 9px;
        
        img {
          margin-top:-5px;
        }
        &:hover,
        &:focus {
          background-color: transparent;
          border-bottom-color: $navbar-37-border; //< underline color
        }
      }
    }
    > .active > a {
      border-bottom-color: #fff;
      &,
      &:hover,
      &:focus {
        color: #fff;
        border-bottom-color: $navbar-37-toggle-border-color;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-37-link-disabled-color;
        background-color: $navbar-37-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-37-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-37-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-37-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse, .navbar-form {
    border-color: darken($navbar-37-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: rgba(255,255,255,1);
      }
    }
  .open .dropdown-menu {
    background-color: transparent;
    background: #efefef;
    margin-top:4px;
    margin-left:-10px;
    border:0px;
    padding-top:0px;
    li > a {
      color: $pantone-black-m;
      margin-left: 10px;
      background-color: transparent;
      &:hover {
        background-color: $navbar-37-toggle-hover-bg;
      }
    }
  }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        background-color:transparent;
        background:rgba(255,255,255,0.2);

        > .dropdown-header {
          border-color: $navbar-37-border;
        }
        .divider {
          background-color: $navbar-37-border;
        }
        > li > a {
          background-color:#fff;
          //color: $navbar-37-link-color;
          &:hover,
          &:focus {
            color: $navbar-37-link-hover-color;
            background-color: $navbar-37-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-37-link-active-color;
            background-color: $navbar-37-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-37-link-disabled-color;
            background-color: $navbar-37-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-37-link-color;
    &:hover {
      color: $navbar-37-link-hover-color;
      border-bottom-color: rgba(255,255,255,1);
    }
  }

}

.highlight-box{}

/****    Container   ***/
.container{
    padding: 0;
}
.jumbotron {
  margin-bottom: 0px;
  .clippedImg{
    height: 170px;
    width: 210px;
    margin: 0 auto;
    float: center;
    background-size: cover;
    position:relative;
  }
  .phoneGradient{
    position:absolute;
    margin-top: 0px;
    height: 170px;
    width:210px;
    z-index: 1000;
    background-size:contain;
  }
  .col-sm-7{
    text-align: center;
  }
  .inputDesc{
    padding-right: 123px;
    min-width: 250px;
  }
}

@media (max-width: $screen-xs-max) {
    .navbar37-background {
        background-color: $pantone-blue-300;
        position: absolute;
        top: 0px;
        height: 272px;
        width: 100%;
        z-index: -1;
    }
    .navbar-37 {
        margin-bottom: 0px; 
    }
}

@media (min-width: $screen-sm-min) {
  .stage-blue {
    background-color: $stage-darkgrey;
  }
  .wrap{
    background-color: $stage-darkgrey;
  }
  div#nav {
       margin-bottom: -50px;
  }
  .navbar > .container .navbar-brand {
    margin-left: 15px;
  }
  .jumbotron {
    .clippedImg {
        height: 271px;
        width: 180px;
        margin: 0 auto;
        float: center;
        background-size: contain;
    }
    .col-sm-7 {text-align: left;}
    h2 {font-size: 19pt;}
    p {font-size: 14pt;}
  }
}

/* Customize container */
@media (min-width: $screen-md-min) {
  .container {
    max-width: $screen-md;
  }
   .jumbotron {
    .clippedImg{
      height: 416px;
      width: 277px;
      background-size: contain;
    }
    .col-sm-7{
    text-align: left;
     padding-right: 60px;
    }
    h2 {
      font-size: 23pt;
      margin-top: 10px;
      display: block;
    }
    p{
       padding-right: 100px;
    }
    }
  div#content{
    .row {
      .col-sm-6 {
        padding-left: 40px;
        padding-right: 30px;
      }
      margin-left: 90px;
      margin-right: 90px;
    }
  }
}

//FAQ
.panel-body {
    text-align: left;
}

//Highlight box  
.panel-button{
    text-align: center;
    margin-bottom: 20px;
}

/*********************
*    Jumbotron       *
*********************/
.container {
  .jumbotron {
    border-radius: 0px;
    background-color: $navbar-37-toggle-hover-bg;
    color: #fff;
    input {
      &.disabled,
      &[disabled],
      fieldset[disabled] & {
	cursor: not-allowed;
	pointer-events: none;
	color: $btn-link-disabled-color;
	background-color: gray;
      }
    }
    .topLeft {
      margin-left: -10px;
    }
    .row {
      margin-top: 45px;
      h2 {
        text-align: left;
      }
      .col-sm-12 {
        text-align: center;
      }
    } 
    .inputDesc label{
      font-weight: normal;
      font-size: x-small;
      padding-right: 8px;
    }
  }
}

/**** Telephone Input ***/
.intl-tel-input {
	input#searchInput {
	  width: 250px;
	}
	.flag-dropdown {
	  border-right-style: outset;
	  border-right-width: 1px;
	}
   .country-list{
        color:black;
        text-align:left;
    }
	input.inside {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  border-style: none;
	  border-left-style: outset;
	  border-left-color: gray;
	  border-left-width: 1px;
	  padding-left: 12px;
	  padding-right: 12px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	}	
}

#content {
	background-color:#fff;
    .row {
      margin-left: 0px;
      margin-right: 0px;
      padding: 20px;
	  h2 {
	    text-align: center;
	    margin-bottom: 30px;
	  }
	  div.panel {
	    text-align: center;
	    border-radius: 0;
	    background-color: transparent;
	    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	    .panel-heading {
	      color: inherit;
	      background-color: transparent;
	      border-bottom: 0 none;
	    }
	  }
	}
    .legal {
      h2 {
        text-align: left;
      }
    }
	.blue {
	  background-color: $pantone-blue-300; 
	  color: #fff;
      tr{
        &:hover {
            color: $pantone-black-m;
        }
      }
	}
}

.list-about {
    list-style: none;

}
.icon-contact {
    margin-right:10px;
    margin-bottom: 10px;
}

/***  Footer  ***/
footer {
    color: $navbar-37-toggle-hover-bg;
    hr {
	  border-top: 2px solid #bbb;
	  margin-bottom: 10px;
	}
	.navbar-nav{
        margin-left:0;
        > li > a {
	       padding: 0 20px 0 0;
	   }
    }
    .row{
        background-color:#fff;
        margin-left:0;
        margin-right:0;
    }
}

/********************
*     Uservoice     *
*********************/
p.powered-by {
    display: none;
}

/*** Chat and bubbles ***/
$shadow_radius: 6px;
$nose_size: 12px;
$shadow: 0 1px $shadow_radius #B2B2B2;
$border:  1px solid #bbb;

.chat {
    font-size:  small;
    width:      50%;
    min-width:  200px;
    padding:    10px;
    margin:     0 auto;
}

.bubble {
    color:            #0070C3;
    background-color: #F2F2F2;
    border-radius:    5px;
    border:           $border;
    box-shadow:       $shadow;
    display:          block;
    padding:          10px 18px;
    margin:           1em ($shadow_radius + $nose_size);
    position:         relative;
    vertical-align:   top;
}

.tail {
    position: absolute;
    height:  ($shadow_radius + $nose_size);
    width:   ($shadow_radius + $nose_size);
    overflow: hidden;

    &:before {
        border:            $border;
        background-color:  #F2F2F2;
        box-shadow:        $shadow;
        content:           "\00a0";

        display:           block;
        position:          absolute;
        top:               0px;
        height:            $nose_size;
        width:             $nose_size;
    }
}


.bubble.left {
    text-align: left;

    .tail {
        top:      $nose_size;
        left:   -($shadow_radius + $nose_size);

        &:before {
            left:              $nose_size;
            -webkit-transform: skewX( -45deg );
            -moz-transform:    skewX( -45deg );
            -o-transform:      skewX( -45deg );
        }
    }
}


.bubble.right {
    text-align: right;
    
    .tail {
        top:      $nose_size;
        right:   -($shadow_radius + $nose_size);

        &:before {
            right:              $nose_size;
            -webkit-transform: skewX( 45deg );
            -moz-transform:    skewX( 45deg );
            -o-transform:      skewX( 45deg );
        }
    }
}
