<div class="pusher"></div>
<div class="container row">

  <div class="col-xs-6 wbox">
	<h2>Merchant Charge view</h2>
	<p>total: {{amount}}</p>
	<p>pay via 37coins: <b>pay {{cid}}</b></p>
	<div id="qrcode"> </div>
  </div>

</div>