<div class="pusher"></div>
<div class="container">

  <div class="col-md-6 wbox">
	<h2>Merchant Front view</h2>
	<form>
	    <div class="form-group">
		    <label for="amountInput">Charge amount:</label>
		    <input type="number" name="amount" step="0.00001" min="0" class="form-control" id="amountInput" placeholder="Enter amount in mBTC">
		</div>
	    <button class="btn btn-inverse" type="submit">Charge</button>
	</form>

  </div>

  <div class="col-dm-6 wbox">
  <h2>Transactions</h2>
	<tbody id="gwTable">

    </tbody>
  </div>

</div>