<div class="pusher"></div>
<div class="container">
	<div class="row marketing">
	    <div class="col-sm-12 wbox">
	    	<h2 class="form-signin-heading">Please Login:</h2>
			<form>
				<div class="alert alert-danger alert-dismissable fade">
				  <button type="button" class="close" aria-hidden="true">&times;</button>
				  <strong>Error!</strong> Incorrect Phone or Tan!
				</div>
				<div class="form-group">
			    	<label for="InputPhone">Phone number:</label>
				    <input type="text" name="phone" class="form-control" id="InputPhone" placeholder="Enter phone number">
			    </div>
			    <div class="form-group">
                    <label for="password">TAN:</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="enter TAN from list">
			    </div>
			    <button id="loginBtn" class="btn btn-large btn-primary" type="submit">Login</button>
			</form>
	    </div>
	</div>
</div>