<div class="stage-blue">
<div class="container">
<div class="jumbotron">
    <div class="row">
	<div class="col-sm-12">
	  <h2>{{mobile}}<br><small>Most Recent Gateway</small></h2>
	</div>
    </div>
</div>
</div>
</div>
