<div class="row">
    <div id="accountHeadline" class="col-sm-12">

    </div>
    <div class="col-sm-6">
	<div id="donate">
	</div>
    </div>
  	<div class="col-sm-6">
    	<p>{{{printf (link w.accountLayout.expl href="/help/SMSwallet2") "w.accountLayout.expl"}}}</p>
    	<div id="smsCommands">
    </div>
  </div>
</div>