<div class="row">
    <div id="accountHeadline" class="col-sm-12">

    </div>
    <div class="col-sm-6">
	<div id="donate">
	</div>
    </div>
  	<div class="col-sm-6">
    	<p>{{s.accountLayout.expl}}<a href="/{{l}}/help/SMSwallet">help page</a>.</p>
    	<div id="smsCommands">
    </div>
  </div>
</div>