<h1>ACCOUNTS</h1>
<form>
	<div class="form-group">
		<label for="InputFilter">filter:</label>
	    <input type="text" name="filter" class="form-control" id="InputFilter" placeholder="mobile=xxx">
	</div>
	<div class="form-group">
		<label for="InputPage">page:</label>
	    <input type="text" name="page" class="form-control" id="InputPage" placeholder="0">
	</div>
	<div class="form-group">
		<label for="InputSize">page size:</label>
	    <input type="text" name="size" class="form-control" id="InputSize" placeholder="10">
	</div>
	<button id="searchBtn" class="btn btn-large btn-primary" type="submit">Search</button>
</form>
<table class="table table-hover">
  <thead>
    <tr>
      <th>displayname</th>
      <th>Number</th>
      <th>locale</th>
      <th>del</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>