<div class="row">
    <div class="col-sm-12">
	  <h2 class="form-signin-heading">{{s.captchaView.captchaH2}}</h2>
	  <p>{{s.captchaView.captcha}}</p>
	  <div class="alert alert-danger alert-dismissable">
	    <button type="button" class="close" aria-hidden="true">&times;</button>
	    <strong>Error!</strong> {{s.captchaView.error}}
	  </div>
	  <div id="recaptcha_div">loading captcha ...</div>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">{{s.captchaView.captchaBtn}}</button>
	  </div>
	</div>
</div>