<div class="row">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">SEND</span> command</h2>
  </div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <tbody>
        <tr><td>SEND &lt;amount&gt; &lt;address&gt; [comment]</td></tr>
      </tbody>
    </table>
    <p>The SEND command send bitcoins from your SMSwallet account to another SMSwallet or bitcoin wallet.</p>
    <p>The recipient does not need to have an account with us. If you send bitcoins to a phone number that does not have a SMSwallet account, one will be created for them and they will be notiﬁed.</p>
  </div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Variable</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>&lt;amount&gt;</td><td>The amount to send to the recipient. Use <em>12</em> to indicate 12mBTC, use <em>5usd</em> to indicate sending BTC in the value of USD 5.</td></tr>
        <tr><td>&lt;address&gt;</td><td>The destination address to send the bitcoins. Can be either a phone number or a bitcoin address.</td></tr>
        <tr><td>[comment]</td><td>Optional comment, up to 40 characters</td></tr>
      </tbody>
    </table>
  </div>
</div>