<div class="row">
<div class="col-sm-12 wbox">
<h1>SMSwallet Help</h1>
<h2>Quick Reference</h2>
<div id="smsCommands" class="col-sm-6"></div>
<h2>SMSwallet FAQ</h2>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Is there a fee for using SMSwallet?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOneHalf">
          How does it work?
        </a>
      </h4>
    </div>
    <div id="collapseOneHalf" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          What is ‘SMSgateway’? Why is it needed?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoFour">
          I want to open an SMSwallet, do I need to run an SMSgateway?
        </a>
      </h4>
    </div>
    <div id="collapseTwoFour" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoHalf">
          Can I run a gateway on my every-day phone?
        </a>
      </h4>
    </div>
    <div id="collapseTwoHalf" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoThird">
          I run an SMSgateway, what is the average payout per month?
        </a>
      </h4>
    </div>
    <div id="collapseTwoThird" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwoFive">
          I opened a new SMSgateway, what now?
        </a>
      </h4>
    </div>
    <div id="collapseTwoFive" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          How is this secure? Haven’t you heard of IMSI-catcher? What if I get hacked?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
      <div class="panel-body">
        <p></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>