<table class="table table-striped">
  <thead>
    <tr>
      <th>Command</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ADDR</td><td>Get Bitcoin deposit address</td></tr>
    <tr><td>PIN</td><td>Setup secret PIN</td></tr>
    <tr><td>BAL</td><td>Get balance in mBTC</td></tr>
    <tr><td>SEND</td><td>Send bitcoins to phone number, bitcoin address.</td></tr>
    <tr><td>TRANS</td><td>List the last 3 transactions</td></tr>
    <tr><td>HELP</td><td>List available commands</td></tr>
  </tbody>
</table>