<!--Change this to be only SMSgateway specific-->
<div class="row">
<div class="col-sm-12 wbox">
<h1>SMSgateway FAQ:</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ1">
          What is ‘SMSgateway’? Why is it needed?
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>‘SMSgateway’ is an android app that is a mediator between any local SMS network and the internet. Each gateway has the power to connect a country’s SMS network to the Bitcoin network; and, thus, to the global economy. It can be operated by anyone willing to invest in an Android phone, install the app, and take care of its connectivity. This person is the SMSgateway partner. The partner’s efforts are rewarded with a small reward from any transaction that is initiated through their gateway. The more gateways that are set up, the bigger the reach of '37Coins network' and the more resilient it will be to hardware failure or a malicious attack. The SMSgateway is designed as a regular client to the mobile provider's network. No approval, co-operation, or agreement with the network provider, except a paid SIM-card, is necessary for set up.</p>
        <p>The SMSwallet users do NOT need a smart phone. They can open a wallet with an gateway by simply sending it an SMS from any feature-phone.</p>
      </div>
    </div>
  </div>  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ2">
          How does SMSgateway and SMSwallet work together?
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ2" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>'SMSwallet' brings as much security as affordable to allow a client (the user with the simple feature phone) on an untrusted network to control a bitcoin wallet via SMS. The client sends simple text commands via SMS. The gateway verifies those commands, constructs a transaction and forwards it to the web-service. The web-service verifies, independently from the gateway, and then publishes the transaction to the Bitcoin network. It may seem complicated, but for the end-user it’s really as simple as sending an SMS. And it is secure because we use the phone’s SIM identification through the SMS channel; and, if necessary, we use a Secret PIN as another identifier. The secret PIN is entered using dial tones via a voice call.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ3">
          Can I run a gateway on my every-day phone?
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ3" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>No, that is not a good idea. The SMSgateway app consumes a lot of battery and forwards all arriving SMS —even your private ones— to the internet. Use a dedicated phone (best some obsolete 1st generation Android) to run the gateway in a secure place, connected to internet and electricity at all times. The users of your SMSgateway will thank you.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ4">
          I run an SMSgateway, what is the average payout per month?
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ4" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>If you don't acquire customers and promote your SMSgateway’s number, you will not see any payout at all. Your gateway is like a small business, keep 100% uptime and spread the word.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ5">
          I opened a new SMSgateway, what now?
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ5" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Promote your service! Once you have your SMSgateway fully operational, open an SMSwallet from a different phone. In other words, send a text from another phone to your SMSgateway’s number. This will create a new SMSwallet account. You will now have an SMSwallet phone and an SMSgateway phone. From your SMSwallet phone, request your bitcoin address by sending the “ADDRESS” command. Send bitcoins to this address. Once your wallet is charged, you can demonstrate the service and amazy your friends by inviting them by  sending them tiny fractions of a bitcoin.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ6">
          How is this secure? Haven’t you heard of IMSI-catcher? What if I get hacked?
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ6" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>SMSwallet operates on a shared responsibility model and multi-factor authentication for security. To protect the SMSwallets from spoofing, the SMSgateways sends a challenge back to the phone to verify the request. Then a transaction is constructed and signed with the SMSgateway’s private key. The input(s) to this transaction is not spendable without the signature of both, the gateway and the web-service. For large value transactions, the web-service initiates a voice-call with the client to verify the client's spending PIN. Once successful, the web-service adds its part of the signature and the transaction can be spent. Throughout the process, the client is required to verify the possession of the phone as well as the knowledge of the spending PIN, giving him two factors for authentication. In other words, IMSI-catcher would be ineffective in spending-PIN protected transactions. </p>
        <div class="alert alert-warning">However, in the current MVP implementation no shared responsibility model is implemented yet. The gateway is dumb and the web-service has to be fully trusted.</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>