<div class="row">
  <div class="cal-xs-12">
  <hr>
  </div>
  <div class="col-xs-4">
	  <ul class="nav navbar-nav">
		<li><a href="/">PRODUCTS</a></li>
		<li><a href="/faq">FAQ</a></li>
		<li><a href="/about">ABOUT</a></li>
	  </ul>
  </div>
  <div class="col-xs-8" style="text-align:right;">
		<p>FOLLOW US ON<br><a href="https://twitter.com/37Coins"><img src="{{resPath}}/images/x_icon_twitter_blue.png"></a> <a href="https://www.facebook.com/37Coins"><img src="{{resPath}}/images/x_icon_facebook_blue.png"></a></p>
		<p>© 37Coins 2014<br>19xeDDxhahx4f32WtBbPwFMWBq28rrYVo</p>
  </div>
</div>

