<td class="tdflag" itemprop=serviceLocation><div class="flag {{locale}}" title="{{lName}}"></div></td>
<td itemprop=serviceSmsNumber>{{mobile}}</td>
<td title="Bitcoin " itemprop=price>{{fee}} Bits</td>