<td class="tdflag" itemprop=serviceLocation><div class="flag {{locale}}" title="{{lName}}"></div></td>
<td itemprop=serviceSmsNumber>{{mobile}}</td>
<td title="&quot;Bits&quot; are 0.000001 BTC, or one millionth of a bitcoin. This fee is charged with each transaction." itemprop=price>{{fee}} Bits</td>