<table class="table table-hover">
  <thead>
    <tr>
      <th><i class="fa fa-flag"></i></th>
      <th>{{w.gatewayCollectionView.numberTh1}}</th>
      <th>{{w.gatewayCollectionView.feeTh2}}</th>
    </tr>
  </thead>
  <tbody>

</tbody>
</table>
