<div class="stage-blue">
<div class="container">
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-12">
      <img src="{{resPath}}/images/cmd-SEND.gif">
      <!--<div class="chat">
	    <p>Message to Gateway01 (xxx-555-1234)</p>
	    <hr/>
	    <div class="bubble right">
	        <span class='tail'>&nbsp;</span>
	        SEND 5usd 5558675309 splitting dinner
	    </div>
	    <div class="bubble left">
	        <span class='tail'>&nbsp;</span>
	        [gw01] Send 11mBTC ($5) to +15558675309? <br> To confirm transaction, reply a1234
	    </div>
	    <div class="bubble right">
	        <span class='tail'>&nbsp;</span>
	        a1234
	    </div>
	    <div class="bubble left">
	        <span class='tail'>&nbsp;</span>
	        [gw01] Transfered 11mBTC ($5) to +15558675309 <br> New Balance: 22mBTC ($10)
	    </div>
	  </div>-->
    </div>
  </div>
</div>
</div>
</div>