<div class="row">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">SMS</span>wallet</h2>
  </div>
  <div class="col-sm-6">
    <p class="visible-xs">Money without borders or barriers, as easy as sending an SMS. Send and receive Bitcoin anywhere in the World. No internet or smartphone required.</p>
    <p>After setting up your account, you will receive an automated text message from a gateway. To control your account, send any of these commands to that phone number via SMS, no smartphone or internet required.</p>
    <div class="panel panel-default">
      <div class="panel-heading">Become an SMSwallet beta user</div>
      <div class="panel-body">
        <a class="btn btn-default" href="#gateways">Open a Wallet &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Command</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>HELP</td><td>List available commands</td></tr>
        <tr><td>PIN</td><td>Setup spending PIN</td></tr>
        <tr><td>BAL</td><td>See balance in mBTC</td></tr>
        <tr><td>SEND</td><td>Send bitcoins to phone number, bitcoin address.</td></tr>
        <tr><td>TRANS</td><td>List the last 3 transactions</td></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row blue">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">SMS</span>gateways</h2>
  </div>
  <div class="col-sm-6">
    <p>Decentralized, open-source Android app that bridges between SMS and Bitcoin for low-end Android phones. In other words, connect any country to the global economy.</p>
    <p>Gateways are operated by partners who earn transaction fees. To become an SMSgateway partner, the following are required:<ul>
    <li>Dedicated Android phone</li>
    <li>Text messaging plan</li>
    <li>Internet connection</li></ul></p>
    <div class="panel panel-default">
      <div class="panel-heading">Become an SMSgateway partner</div>
      <div class="panel-body">
        <a class="btn btn-default" href="#gateways">Open a Gateway &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 intl-tel-input">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-flag"></i></th>
          <th>Number</th>
          <th>Fee</th>
        </tr>
      </thead>
      <tbody id="gwTable">
        
      </tbody>
    </table>
  </div>
</div>