<div class="navbar37-background navbar37-brown"></div>
<div class="stage">
<div class="container">
<div class="jumbotron" style="background: url('{{resPath}}/images/r_bg_coins.jpg') no-repeat center center; background-size: cover;">
  <div class="row">
    <div class="headerImg, col-sm-5">
      <div class='clippedImg' style="background-image: url('{{resPath}}/images/x_hero_phones.png');">
      <div class='phoneGradient visible-xs' style="background-image: url('{{resPath}}/images/x_hero_phone-hero.png');">&nbsp;
      </div></div>
    </div>
    <div class="headerText, col-sm-7">
      <h2 class="hidden-xs">Without borders or barriers,<br/> as easy as sending an SMS</h2>
      <p class="lead hidden-xs">Send and receive bitcoin<br/> anywhere in the world via SMS.<br/> No internet or smartphone required.</p>
      <label class="hidden-xs">Sign-up to be an SMSwallet beta user.</label>
      <div id="mobileInput">

      </div>
    </div>
    <div style="height:400px;" class="visible-md visible-lg"></div>
    <div class="pull-right" style="color: #b3b3a7;"><small>By clicking Go!, you agree to the <a href="/{{l}}/legal/terms">terms of use</a></small></div>
  </div>
</div>
</div>
</div>