<div class="row">
  <div class="col-sm-12">
    <h1><span style="font-family: 'sofia_pro_regular';">SMS</span>wallet</h1>
  </div>
  <div class="col-sm-6">
    <p class="visible-xs">Money without borders or barriers, as easy as sending an SMS. Send and receive Bitcoin<br/> anywhere in the World.</b> No internet or smartphone required.</p>
    <p>After setting up your account, you will receive an automated text message from a gateway. To control your account, send any of these commands to that phone number via SMS.</p>
    <div class="panel panel-default">
      <div class="panel-heading">Become an SMSwallet beta user</div>
      <div class="panel-button">
	<a class="btn btn-default" href="#signupWallet">Open a Wallet &raquo;</a>
      </div>
    </div>
  </div>
  <div id="smsCommands" class="col-sm-6">

  </div>
</div>
<div class="row blue">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">SMS</span>gateways</h2>
  </div>
  <div class="col-sm-6">
    <p>A decentralized, open-source Android app that bridges between SMS and Bitcoin. Designed for low-end Android phones. In other words, you can connect your country to the global economy via Bitcoin (and earn a little for your time and effort, too. ;-).</p>
    <p>Gateways are operated by partners who earn transaction fees. To become an SMSgateway partner, the following are required:<ul>
    <li>Dedicated Android phone</li>
    <li>Text messaging plan</li>
    <li>Internet connection</li></ul></p>
    <div class="panel panel-default">
      <div class="panel-heading">Become an SMSgateway partner</div>
      <div class="panel-button">
	<a class="btn btn-default" href="#gateways">Open a Gateway &raquo;</a>
      </div>
    </div>
  </div>
  <div id="gwTable" class="col-sm-6 intl-tel-input">

  </div>
</div>