<div class="jumbotron" style="background: url('{{resPath}}/images/r_bg_coins.jpg') no-repeat center center; background-size: cover;">
  <div class="row">
    <div class="col-sm-6">
      <div class='clippedImg' style="background-image: url('{{resPath}}/images/x_hero_phones.png'); background-size: cover;">&nbsp;</div>
    </div>
    <div class="col-sm-6">
      <h2 class="hidden-xs">No borders or barriers, just send an SMS.</h2>
      <p class="lead hidden-xs">Send and receive bitcoin anywhere in the world via SMS. No internet or smartphone required.</p>
      <label class="hidden-xs">Sign-up to be an SMSwallet beta user.</label>
      <div class="form-group">
	<input id="searchInput" type="tel" name="search" class="form-control" placeholder="+XXYYYYYYYY" disabled>
	<div class="inputDesc"><label for="searchInput">Country</label><label for="searchInput">Mobile Number</label></div>
	<span id="error-msg" class="hide">Invalid number</span><span id="valid-msg" class="hide">✓ Valid</span>
      </div>
    </div>
  </div>
</div>