<div class="jumbotron">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-6">.col-xs-6</div>
    <div class="col-sm-6">
      <h1>Money without borders or barriers, as easy as sending an SMS.</h1>
      <p class="lead">Send and receive bitcoin anywhere in the world. Sign-up to be an SMSwallet beta user.</p>
      <input id="searchInput" type="tel" name="search" class="form-control" placeholder="+XXYYYYYYYY" disabled>
      <p>Country Mobile Number</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>SMSwallet Commands</h2>
  </div>
  <div class="col-sm-6">
      <span>These commands are understood by any gateway and are sent by users simply by typing the SMS. No smartphone or internet needed.</span>
  </div>
  <div class="col-sm-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Command</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>help</td><td>list available commands.</td></tr>
        <tr><td>addr</td><td>get the receiving address for your wallet.</td></tr>
        <tr><td>bal</td><td>receive your wallet's balance.</td></tr>
        <tr><td>send &lt;amount&gt; &lt;to&gt; [comment]</td><td>send bitcoins to email, phone number or bitcoin address.</td></tr>
        <tr><td>req ..</td><td>like send, but requesting payment.</td></tr>
        <tr><td>txns</td><td>list the last 3 transactions.</td></tr>
        <tr><td>buy</td><td>list Bitcoin sellers in same country.</td></tr>
        <tr><td>sell &lt;price&gt;</td><td>enlist as Bitcoin seller.</td></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row blue">
  <div class="col-sm-12">
    <h2>SMSgateways</h2>
  </div>
  <div class="col-sm-6">
    <span>Gateways are operated by individuals with interest to earn transaction fees. A dedicated Android phone and internet required.</span>
    <p><a class="btn btn-default" href="#gateways">Open a Gateway &raquo;</a></p>
    <span>Or have a peek at the <a href="#example">configuration example</a></span>
  </div>
  <div class="col-sm-6 intl-tel-input">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-flag"></i></th>
          <th>Number</th>
          <th>Fee</th>
        </tr>
      </thead>
      <tbody id="gwTable">
        
      </tbody>
    </table>
  </div>
</div>