<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
            <strong>{{w.logoutView.success.happy}}</strong>&nbsp;{{{w.logoutView.success.alert}}} <a href="/{{l}}/gateways" class="alert-link">{{w.logout.success.alert-link}}</a>!
        </div>
    </div>
</div>