<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
          <strong>Success!</strong> Logout successfull. <a href="/{{l}}/gateways" class="alert-link">Continue to Login</a>!
        </div>
    </div>
</div>