<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
          {{{s.logoutView.success.alert}}} <a href="/{{l}}/gateways" class="alert-link">{{s.logout.success.alert-link}}</a>!
        </div>
    </div>
</div>