<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
            <strong>{{w.logoutV}}</strong>&nbsp;{{{link w.basic.goIndex href="/" class="alert-link"}}}
        </div>
    </div>
</div>