<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
          <strong>Success!</strong> Merchant account successfully verified.
        </div>
        <form>
            <div class="form-group">
                <label for="InputName1">Display Name:</label>
                <input type="text" name="displayName" class="form-control" id="InputName1" placeholder="Enter display name.">
            </div>
            <button class="btn btn-lg" type="submit">Set Name</button>
            <div class="alert alert-danger alert-dismissable fade">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <strong>Error!</strong> Please <a href="/{{l}}/contact" class="alert-link">contact support</a>.
            </div>
        </form>
        <div id="instructions"></div>
    </div>
</div>