<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
	        <h2 class="form-signin-heading">Identify Account for Merchant</h2>
            <form class="form-horizontal">
	            <div class="control-group form-inline">
	                <input id="searchInput" type="tel" name="search" class="form-control" placeholder="+XXYYYYYYYY" disabled>
	                <input class="form-control" id="disabledInput" type="text" placeholder="4 digit code here.." disabled>
	            </div>
	        </form>
            <button class="btn btn-inverse" type="submit" disabled="disabled">Call</button>
		</div>
    </div>
</div>