<div class="form-group">
	<input id="searchInput" type="tel" name="search" class="form-control" placeholder="+XXYYYYYYYY" disabled>
	<div class="inputDesc"><label for="searchInput">{{s.mobileInput.descCountry}}&nbsp;</label><label for="searchInput">{{s.mobileInput.descNumber}}</label></div>
	<span id="error-msg" class="hide">{{s.mobileInput.error}}</span><span id="valid-msg" class="hide">✓&nbsp;{{s.mobileInput.success}}</span>
</div>
