<div class="form-group">
	<input id="searchInput" type="tel" name="search" class="form-control" placeholder="+XXYYYYYYYY" disabled>
	<div class="inputDesc"><label for="searchInput">Country</label><label for="searchInput">Mobile Number</label></div>
	<span id="error-msg" class="hide">Invalid number</span><span id="valid-msg" class="hide">✓ Valid</span>
</div>