<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger fade in">
          <strong>{{w.basic.err}}</strong>&nbsp;{{{link w.reset.errMsg href="/contact" class="alert-link"}}}</div>
    </div>
</div>