<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger fade in">
          <strong>{{w.reset.sad}}</strong>  <a href="/{{l}}/contact" class="alert-link">{{w.reset.supp}}</a>.
        </div>
    </div>
</div>