<div class="row">
    <div class="col-sm-12">
    	<h2 class="form-signin-heading">Identify Account for Reset</h2>
        <div class="alert alert-success fade in">
		  <strong>{{s.reset.happy}}</strong> {{s.reset.submitted}}
		</div>
	</div>
</div>