<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
          <strong>{{w.reset.happy}}</strong>&nbsp;{{w.reset.succ.done}}&nbsp;<a href="/{{l}}/gateways" class="alert-link">{{w.reset.succ.login}}</a>!
        </div>
    </div>
</div>