<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger fade in">
          <strong>Error!</strong> Passwords reset URL no longer valid. Please <a href="/{{l}}/contact" class="alert-link">contact support</a>.
        </div>
    </div>
</div>