<div class="row">
    <div class="col-sm-12">
    	<h2 class="form-signin-heading">{{w.reset.identifyH2}}</h2>
        <div class="alert alert-success fade in">
		  <strong>{{w.reset.happy}}</strong> {{w.reset.submitted}}
		</div>
	</div>
</div>