<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
          <strong>{{w.basic.succ}}</strong>&nbsp;{{{link w.reset.succ href="/gateways" class="alert-link"}}}
        </div>
    </div>
</div>