<div class="row">
    <div class="col-sm-6">
    	<h2 class="form-signin-heading">Send and receive bitcoin via SMS</h2>
    		<p>Money without borders or barriers, as easy as sending an SMS. Send and receive Bitcoin
			anywhere in the World. No internet or smartphone required.</p>
		     <div class="form-group">
	       		<input id="searchInput" type="tel" name="search" class="form-control" placeholder="+XXYYYYYYYY" disabled>
	      	 <div class="inputDesc"><label for="searchInput">Country</label><label for="searchInput">Mobile Number</label>
         		</div>
	      	 <span id="error-msg" class="hide">Invalid number</span><span id="valid-msg" class="hide">✓ Valid</span>
      </div>
		<p class="pull-right"><br>Forgot password? <a href="#reset">Reset</a></p>
    </div>

    <!--<div class="col-sm-6">
    	<div id="registerForm">
	    	<h2 class="form-signin-heading">New Gateway?</h2>
			<p>Do you have a spare Android phone and want to run an SMSgateway in your country?</p>
			<a href="#signUp" id="regBtn" class="btn btn-primary">Sign up</a>
			<ul>The registration process will take you through:
				<li>Setting up an android phone</li>
				<li>Choosing a transaction fee</li>
				<li>Testing your gateway</li>
			</ul>
		</div>-->
   	</div>
</div>