<div class="row">
    <div class="col-sm-12">
        <h1><span style="font-family: 'sofia_pro_regular';">{{s.loginView.wallet.signUp.SMS}}</span>{{s.loginView.wallet.signUp.titleH1}}</h1>
		    <label class="hidden-xs">{{s.loginView.wallet.signUp.promptBeta}}</label>
              <div id="mobileInput">

              </div>
        <hr>    
		<p class="pull-right"><br>Wanted to start an SMSgateway?<a href="/{{l}}/gateways">&nbsp;Click here.</a></p>
    </div>
</div>
