<div class="row">
    <div class="col-sm-12">
        <h1><span style="font-family: 'sofia_pro_regular';">SMS</span>wallet Signup</h1>
		    <label class="hidden-xs">Start using SMSwallet beta user.</label>
              <div id="mobileInput">

              </div>
        <hr>    
		<p class="pull-right"><br>Wanted to start an SMSgateway?<a href="/{{l}}/gateways">&nbsp;Click here.</a></p>
    </div>
</div>