<div class="row">
    <div class="col-sm-12">
        <h2 class="form-signin-heading">{{s.wallet.signUp.titleH2}}</h2>
        <div class="alert alert-success">{{s.wallet.signUp.happy}}</div>
        <div class="alert alert-warning"><strong>{{s.wallet.signUp.alert}}</strong> {{s.wallet.signUp.alertMsg}}</div>
    </div>
</div>