<div class="row">
    <div class="col-sm-12">
        <h1><span style="font-family: 'sofia_pro_regular';">{{w.loginV.wallet.login.title1}}</span>{{w.loginV.wallet.login.title2}}</h1>
		    <label class="hidden-xs">{{w.loginV.wallet.login.label}}</label>
              <div id="mobileInput">

              </div>
        <hr>    
		<p class="pull-right"><br>{{{link w.loginV.wallet.login.gw href="/gateways"}}}</p>
    </div>
</div>