<div class="row">
    <div class="col-sm-12">
        <h2 class="form-signin-heading">{{w.wallet.signUp.titleH2}}</h2>
        <div class="alert alert-success">{{w.wallet.signUp.happy}}</div>
        <div class="alert alert-warning"><strong>{{w.wallet.signUp.alert}}</strong> {{w.wallet.signUp.alertMsg}}</div>
    </div>
</div>