<div class="row">
    <div class="col-sm-12">
        <h1><span style="font-family: 'sofia_pro_regular';">SMS</span>wallet Sign in</h1>
		    <label class="hidden-xs">Enter the phone number for your existing account.</label>
              <div id="mobileInput">

              </div>
        <hr>    
		<p class="pull-right"><br>Wanted to sign in to your SMSgateway account?<a href="/{{l}}/gateways">&nbsp;Click here.</a></p>
    </div>
</div>