<div class="row legal">
    <div class="col-sm-12">

        <ul class="nav nav-tabs">
          <li class="active"><a href="/{{l}}/legal/terms">Terms of Use</a></li>
          <li><a href="/{{l}}/legal/privacy">Privacy Policy</a></li>
        </ul>

        <h1>37coins Terms of Service</h1>

        <h2>1. Introduction</h2>
        <h3>a. Thank you for using 37coins!</h3>
        <p>37coins’ products and services are provided by 37coins, Inc. These Terms of Service (“Terms") govern your access to and use of 37coins’ website, products, and services (“Products"). Please read these Terms carefully, and <a href="mailto:legal@37coins.com?Subject=Terms%20of%20Service">contact us</a> us if you have any questions. By accessing or using our Products, you agree to be bound by these Terms and by our Privacy Policy.  If you do not agree to any of the terms set forth in this Agreement, you may not access or use any of the 37coins’ Products.</p>

        <div class="alert alert-warning">
        <strong>Simple summary:</strong><br>
        Every company has its terms. These are ours.</div>

        <h3>b. Notification Procedures and changes to these Terms</h3>

        <p>37coins reserves the right to determine the form and means of providing notifications to you, and you agree to receive legal notices electronically if we so choose. We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you. By continuing to access or use the Products after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Products.</p>

        <div class="alert alert-warning">
        <strong>Simple summary:</strong><br>
        If we make big changes to the Terms, we will contact you.</div>
        <h2>2. Using 37coins</h2>
        <h3>a. Who can use 37coins</h3>
        <p>You may use our Products only if you can form a binding contract with 37coins, and only in compliance with these Terms and all applicable laws. If you open an account on behalf of a company, organization, or other entity, then (a) “you" included you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity’s behalf. Some of our Products may be software that is downloaded to your computer, phone, tablet, or other device. You agree that we may automatically upgrade those Products, and these Terms will apply to upgrades.</p>

        <p>To be eligible to use the Products, you must be at least 18 years old (or the applicable age of majority and contractual capacity if you reside in a jurisdiction where the age of majority or contractual capacity is above 18 years of age). By accessing or using the Products you represent and warrant that you are 18 or older.</p>

        <div class="alert alert-warning">
        <strong>Simple summary:</strong><br>
        You must follow the Terms whether you are acting on your behalf or for your company. You will let us update our software on your device, if possible.</div>

        <h3>b. Our license to you</h3>
        <p>Subject to these Terms and our policies, we grant you a limited, non-exclusive, non-transferable, and revocable license to use our Products.</p>

        <h3>c. Local Laws </h3>
        <p>You agree to be bound by all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        Be aware of your local laws that might be different than ours.</div>

        <h3>d. Third-Party Links, Sites, and Services</h3>
        <p>Our Products may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by 37coins. We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from 37coins, you do so at your own risk and you agree that 37coins will have no liability arising from your use of or access to any third-party website, service, or content.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        Our products may link to content off of 37coins. Most of the stuff we think is useful for you, but we’re not responsible when it’s not.</div>

        <h3>e. Termination</h3>
        <p>37coins may terminate or suspend this license at any time, with or without cause or notice to you. Upon termination, you continue to be bound by these Terms. If your account is terminated, we will notify you by text message and email (if possible). You will have four (4) weeks to withdraw your bitcoins from your account, unless we have been been given a lawful court order mandating otherwise.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        We reserve the right to refuse service to anyone, but, of course, you will be able to withdraw your coins.</div>

        <h2>3. Security</h2>

        <h3>a. Your account and security</h3>

        <p>If you use our Products, you are responsible for maintaining the confidentiality of your account, password and security PIN, and for restricting access to your computer, cellphone, or other device that communicates with our Products, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that 37coins is not responsible for third party access to your account that results from theft or misappropriation of your account.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        Keep your account, password and all devices that can access our Products safe! We cannot be held accountable for loss due to stolen passwords, or unauthorized access of your device.</div>

        <!--<h3>b. Lost Security PIN</h3>
        <p>A valid e-mail address is REQUIRED to reset your Security PIN. 37coins takes no responsibility for unlocking your account if you forget your password and do not have access to the e-mail address on file with 37coins. If you no longer have access to the e-mail address you have registered with 37coins, you should update your e-mail address IMMEDIATELY to prevent losing access to your SMSwallet.</p>-->


        <h2>4. About Bitcoin</h2>

        <h3>a. Bitcoin volatility</h3>
        <p>The risk of holding Bitcoin can be substantial. You should therefore carefully consider whether holding Bitcoin is suitable for you in light of your financial condition. In considering whether to hold Bitcoin, you should be aware that the price or value of Bitcoin can change rapidly, decrease, and potentially even fall to zero.</p>

        <h3>b. The Term Wallet</h3>
        <p>37coins is a bitcoin wallet, not a physical or a virtual bank. As such, 37coins does not operate under any banking laws or regulations. 37coins is not a financial firm, or a money transmitting business. 37coins does not deal in United States Dollars or any other national currency.</p>


        <h2>5. Your Account</h2>
        <p>When you deposit bitcoins into your SMSwallet account, you will have the ability (after 1 confirmation) to send an equal number of bitcoins from your account.</p>

        <h3>a. Limits</h3>
        <p>37coins reserves the right to change the transfer, storage and velocity limits applicable to your 37coins Account.</p>

        <h3>b. Availability of Funds</h3>
        <p>Any bitcoins deposited into your SMSwallet account will become available to transfer after one (1) confirmations on the bitcoin network. While you must wait for 1 confirmation before transferring these coins to an external bitcoin address or another SMSwallet user, you will receive notification of incoming bitcoins almost immediately. Be aware that the time for a single confirmation is usually less than one hour, but up to one day or more.</p>

        <p>If another SMSwallet user sends you bitcoins from within the 37coins system, the bitcoins will be available to transfer almost immediately.</p>

        <h3>c. Zero-Balance Inactivity</h3>
        <p>37coins reserves the right to close any account that has a zero balance and is inactive for a duration of four (4) weeks.</p>


        <h3>d. Law Enforcement</h3>
        <p>37coins is incorporated in the state of Delaware, and headquartered in the county of Santa Clara, California, United States of America. 37coins will cooperate with any federal and/or state authorities as the law requires.</p>

        <p>37coins reserves the right to request additional information from and/or suspend or terminate the account of any user suspected of any illegal activity.</p>

        <h3>e. Anti-Money Laundering</h3>
        <p>By accepting these Terms or accessing these Products, the user agrees and understands that accessing the Products does not violate any law in their home jurisdiction, and the user bears full responsibility for maintaining compliance with their applicable Tax Code and Anti-Money Laundering Policies. The user is required to report any income or profits earned through use of the Service to their respective tax authorities for taxation, and are expressly prohibited from executing any transactions that are defined as Money Laundering in the United States of America.  Any violation of Taxation and Anti-Money Laundering requirements, as determined at the sole discretion of 37coins, shall be immediate grounds for terminating user’s access to the Service.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        In other words, you agree to to comply with the laws in your jurisdiction.</div>

        <h2>7. General</h2>

        <h3>a. Indemnity</h3>
        <p>If you use our Products for purposes in violation of Section 2(c) or 5(e), as determined in our sole and absolute discretion, you agree to indemnify and hold harmless 37coins and its officers, directors, employees and agents, from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees (including costs of defense of claims, suits or proceedings brought by third parties), in any way related to (a) your access to or use of our Products, (b) your User Content, or (c) your breach of any of these Terms.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        If we are sued because of something  you or your business does with the 37coins’ Products, you have to pay our costs.</div>

        <h3>b. Disclaimers</h3>
        <p>The Products and all included content are provided on an "as is" basis without warranty of any kind, whether express or implied.</p>
         
        <p>37COINS SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.</p>

        <p>Further, 37coins does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>

        <h3>c. Limitation of Liability</h3>
        <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, 37COINS SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        We are really proud of our Products, and want them to be the best they can for your needs, but we can't promise it will be perfect. We're not liable for various things.</div>


        <h3>d. Governing Law and Jurisdiction</h3>
        <p>These Terms shall be governed by the laws of the State of California, without respect to its conflict of laws principles. We each agree to submit to the personal jurisdiction of a state court located in Santa Clara County, California or the United States District Court for the Northern District of California.</p>

        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        If you have to, you gotta sue us on our own turf.</div>

        <h3>f. Assignment.</h3>
        <p>These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by 37coins without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.</p>
        <h3>g. Entire Agreement/Severability</h3>
        <p>These Terms, together with the Privacy Policy and any amendments and any additional agreements you may enter into with 37coins in connection with the Products, shall constitute the entire agreement between you and 37coins concerning the Products. If any provision of these Terms is deemed invalid, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.</p>
        <h3>h. No Waiver.</h3>
        <p>No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and 37coins’ failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision.</p>
        <div class="alert alert-warning"><strong>Simple summary:</strong><br>
        These three passages are part of just about every online terms agreement. Basically, they ensure that a deal is a deal when you're using a site, including 37coins.</div>
    </div>
</div>
